.selectContainer {
  margin: 20px;
  padding: 10px;
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  border-radius: 5px;
}

.select {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #40a9ff;
  outline: none;
  font-size: 16px;
  color: #0050b3;
}