@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; /* Usa Roboto como la fuente principal */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 